@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:wght@300;600;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.none {
  display: none;
}

.active {
  display: block;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-col-1 {
  grid-column: span 1;
}

.grid-col-2 {
  grid-column: span 2;
}

.grid-col-3 {
  grid-column: span 3;
}

.grid-col-4 {
  grid-column: span 4;
}

.grid-col-5 {
  grid-column: span 5;
}

.grid-col-6 {
  grid-column: span 6;
}

.grid-col-7 {
  grid-column: span 7;
}

.grid-col-8 {
  grid-column: span 8;
}

.grid-col-9 {
  grid-column: span 9;
}

.grid-col-10 {
  grid-column: span 10;
}

.grid-col-11 {
  grid-column: span 11;
}

.grid-col-12 {
  grid-column: span 12;
}

.combo {
  position: relative;
  padding-top: 88px;
  padding-bottom: 128px;
}
.combo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background: #415167;
  z-index: -5;
}
.combo__box {
  text-align: center;
}
.combo__subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #415167;
  margin-bottom: 6px;
}
.combo__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #415167;
  margin-bottom: 64px;
}

@media (max-width: 1190px) {
  .combo {
    padding-top: 30px;
    padding-bottom: 68px;
  }
  .combo::after {
    width: 30%;
  }
  .combo__title {
    margin-bottom: 35px;
  }
}
@media (max-width: 950px) {
  .combo::after {
    width: 20%;
  }
}
.gift {
  padding: 86px 0 126px;
  position: relative;
}
.gift::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background: #EDF0F5;
  z-index: -5;
}
.gift__subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color: #415167;
  margin-bottom: 0.6rem;
}
.gift__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.4rem;
  text-align: center;
  color: #415167;
  margin-bottom: 6.6rem;
}
.gift__box {
  display: flex;
}
.gift__img {
  position: relative;
  background: #ffffff;
  z-index: 2;
}
.gift__img::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #EDF0F5;
  z-index: -2;
}
.gift__content {
  padding: 65px 68px 64px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.gift__content-price {
  font-weight: 600;
  font-size: 2rem;
  color: #C7A17A;
  padding-bottom: 1.2rem;
}
.gift__content-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: #232C38;
  padding-bottom: 1.2rem;
}
.gift__content-text {
  max-width: 43rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #151D28;
  padding-bottom: 2.4rem;
}
.gift__content-feature {
  display: flex;
  margin-bottom: 4.6rem;
}
.gift__content-item {
  display: flex;
}
.gift__content-item:not(:last-child) {
  margin-right: 66px;
}
.gift__content-img {
  margin-right: 1.2rem;
}
.gift__content-name {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #415167;
}
.gift__content-name span {
  font-weight: 700;
}
.gift__content-buy {
  display: inline-block;
  margin-right: 125px;
}
.gift__content-more {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #415167;
}
.gift__choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gift__link {
  width: 88px;
  height: 100%;
  padding: 77px 40px;
  border: none;
  background: #EDF0F5;
  position: relative;
}
.gift__link:nth-child(1) {
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}
.gift__link-text {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 30px;
  color: #415167;
  opacity: 0.3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gift__link-text:nth-child(1) {
  opacity: 1;
  color: #415167;
}

@media (max-width: 1090px) {
  .gift {
    padding: 25px 0 35px;
  }
  .gift__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gift__title {
    margin-bottom: 3.6rem;
  }
  .gift__content {
    padding: 35px 38px 34px;
    align-self: center;
  }
  .gift__content-feature {
    margin-bottom: 2rem;
  }
  .gift__content-buy {
    margin-right: 80px;
  }
  .gift__choice {
    display: flex;
    flex-direction: row;
  }
  .gift__link {
    width: 170px;
    height: 100%;
    padding: 40px 40px;
  }
}
.choose {
  position: relative;
}
.choose::after {
  content: "";
  position: absolute;
  background: #415167;
  height: 100%;
  width: 32vw;
  top: 0;
  left: 0;
  z-index: -1;
}
.choose__content {
  position: relative;
  padding-top: 5rem;
  text-align: center;
}
.choose__subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #415167;
}
.choose__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #415167;
  margin-bottom: 4rem;
}

@media (max-width: 1090px) {
  .choose::after {
    left: -70px;
  }
}
.excursion__box {
  margin-bottom: 12.8rem;
}
.excursion__subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color: #415167;
  margin-bottom: 0.85rem;
}
.excursion__title {
  margin-bottom: 7.2rem;
}
.excursion__link {
  justify-self: center;
  width: 22.6rem;
  padding-top: 1.7rem;
  text-align: center;
  text-decoration: none;
}
.excursion__img {
  margin-bottom: 4rem;
}
.excursion__title-item {
  margin-bottom: 1.2rem;
}
.excursion__text {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  color: #151D28;
}

@media (max-width: 1090px) {
  .excursion {
    margin-bottom: 5rem;
  }
  .excursion__img {
    margin-bottom: 2rem;
  }
  .excursion__list {
    grid-row-gap: 60px;
  }
  .excursion__link {
    grid-column: span 6;
  }
}
.footer__box {
  background: #EDF0F5;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer__my-name {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #415167;
}
.footer__text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #415167;
}
.footer__socials-link {
  text-decoration: none;
  margin-right: 1.5rem;
}
.footer__socials-link img {
  width: 3.7rem;
  height: 3.7rem;
  transition: all 0.5s;
}
.footer__socials-link:hover img {
  transform: scale(1.5);
  opacity: 0.5;
}

.header {
  margin-bottom: 9rem;
}
.header::after {
  content: "";
  background: #415167;
  height: 76.8rem;
  width: 45vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.header__box {
  height: 76.8rem;
  display: flex;
}
.header__logo {
  width: 21.5%;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 6.5rem;
  text-align: left;
}
.header__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 5.4rem;
  line-height: 7rem;
  text-transform: uppercase;
  color: #415167;
  position: absolute;
  left: 0;
  bottom: 6.5rem;
}
.header__title-bkg {
  padding: 0 1.7rem;
  color: #ffffff;
  background: #C7A17A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  left: -1.5rem;
}
.header__fon-video {
  width: 57%;
}
.header__fon-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 22%;
  height: inherit;
  padding-left: 55px;
  padding-top: 70px;
  background: #415167;
  text-transform: uppercase;
}
.menu__btn {
  display: none;
}
.menu__card {
  display: block;
  margin-bottom: 11.8rem;
}
.menu__title-list {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #EDF0F5;
  margin-bottom: 3rem;
}
.menu__item {
  margin-bottom: 3rem;
  list-style-type: none;
}
.menu__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #EDF0F5;
}

@media (max-width: 1090px) {
  .header {
    margin-bottom: 7rem;
  }
  .header::after {
    height: 56.8rem;
  }
  .header__title {
    font-size: 3.4rem;
    line-height: 4rem;
    bottom: 7.5rem;
  }
  .header__box {
    height: 56.8rem;
  }
  .menu {
    padding-left: 20px;
    padding-top: 60px;
  }
  .menu__item {
    margin-bottom: 2rem;
  }
  .menu__link {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #EDF0F5;
  }
}
@media (max-width: 720px) {
  .header {
    margin-bottom: 6rem;
  }
  .header__logo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .header__logo-img {
    display: block;
    width: 90px;
    height: auto;
  }
  .header__logo-img img {
    width: 100%;
    height: auto;
  }
  .header__title {
    transform: rotate(-90deg);
    position: unset;
  }
  .menu {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu__card {
    margin-bottom: 0;
  }
  .menu__card-img {
    width: 48px;
  }
  .menu__btn {
    display: block;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: #C7A17A;
    position: relative;
    top: 40px;
  }
  .menu__btn-span {
    margin: 0 auto;
    display: block;
    width: 38px;
    height: 1px;
    padding: 0;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu__btn-span::after, .menu__btn-span::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 1px;
    background: #ffffff;
    left: 12%;
    transition: all 0.2s;
  }
  .menu__btn-span::before {
    top: 10px;
  }
  .menu__btn-span::after {
    top: -10px;
  }
  .menu__nav {
    display: none;
    padding-top: 145px;
    position: absolute;
    background: #415167;
    top: 0;
    right: 23%;
    width: 200px;
    height: inherit;
    text-align: center;
  }
  .active {
    display: block;
  }
  .menu__btn-active .menu__btn-span::before {
    transform: translate(-6px, -6px) rotate(35deg);
    width: 13px;
  }
  .menu__btn-active .menu__btn-span::after {
    transform: translate(-6px, 6px) rotate(-35deg);
    width: 13px;
  }
}
@media (max-width: 576px) {
  .header {
    margin-bottom: 4rem;
  }
  .header::after {
    height: 40rem;
  }
  .header__box {
    height: 400px;
  }
  .header__title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .menu__btn {
    top: 0;
  }
  .menu__nav {
    padding-top: 70px;
  }
}
.choose {
  padding-top: 93px;
  padding-bottom: 127px;
}
.choose__slider {
  max-width: 118.4rem;
  background: transparent;
}
.choose__slider-box {
  display: none;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.choose__slider-box:first-child {
  display: flex;
}
.choose__slider-item {
  width: 559px;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}
.choose__slider-link {
  text-decoration: none;
  display: block;
  width: 235px;
  height: 100%;
}
.choose__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.choose__slider-content {
  padding: 4.2rem;
  text-align: left;
}
.choose__slider-price {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #C7A17A;
  margin-bottom: 0.8rem;
}
.choose__slider-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #232C38;
  margin-bottom: 2.4rem;
}
.choose__slider-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
  margin-bottom: 4rem;
}
.choose__slider-buy {
  display: inline-block;
  margin-right: 2rem;
}
.choose__slider-more {
  text-transform: uppercase;
  text-decoration: none;
  color: #415167;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.choose__btn {
  position: absolute;
  top: 57%;
  right: -3rem;
}

.combo__slider {
  max-width: 118.4rem;
  background: transparent;
}
.combo__slider-box {
  height: inherit;
  display: none;
  justify-content: space-around;
}
.combo__slider-box:first-child {
  display: flex;
}
.combo__slider-item {
  box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
  background: white;
}
.combo__slider-link {
  display: block;
  text-decoration: none;
}
.combo__slider-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.combo__slider-content {
  padding: 42px 0 42px 42px;
  text-align: left;
}
.combo__slider-price {
  padding-bottom: 10px;
}
.combo__slider-discount {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #C7A17A;
  margin-right: 22px;
}
.combo__slider-cost {
  font-size: 1.4rem;
  line-height: 1.6rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #415167;
}
.combo__slider-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #232C38;
  padding-bottom: 10px;
}
.combo__slider-text {
  max-width: 278px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #151D28;
  padding-bottom: 32px;
}
.combo__slider-buy {
  margin-right: 54px;
}
.combo__slider-more {
  text-transform: uppercase;
  text-decoration: none;
  color: #415167;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.combo__btn {
  position: absolute;
  top: 60%;
  right: -3rem;
}

@media (max-width: 1190px) {
  .choose__slider-box {
    justify-content: center;
    gap: 15px;
  }
  .choose__slider-item {
    display: block;
    margin: 0 auto;
    width: 380px;
  }
  .choose__slider-link {
    width: 100%;
    height: auto;
  }
  .choose__slider-img {
    width: 100%;
    height: 100%;
  }
  .choose__slider-content {
    padding: 2.2rem;
    text-align: center;
  }
  .choose__slider-title {
    margin-bottom: 10px;
  }
  .choose__slider-text {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  .choose__btn {
    top: 54%;
    right: 0rem;
  }
  .combo__slider-content {
    padding: 22px 0 22px 22px;
    text-align: left;
  }
  .combo__slider-item {
    max-width: 300px;
  }
  .combo__slider-title {
    font-size: 2rem;
  }
  .combo__slider-text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .combo__slider-buy {
    margin-right: 10px;
  }
}
@media (max-width: 950px) {
  .combo__slider-item {
    max-width: 290px;
  }
}
@media (max-width: 815px) {
  .choose__slider-box {
    gap: 10px;
  }
  .choose__slider-item {
    max-width: 290px;
  }
  .choose__slider-img {
    width: 100%;
    height: 100%;
  }
  .choose__slider-content {
    padding: 2rem;
  }
  .choose__slider-price {
    display: inline-block;
    margin-right: 15px;
  }
  .choose__slider-title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .choose__slider-text {
    font-size: 16px;
    margin-bottom: 1.2rem;
  }
  .choose__btn {
    top: 54%;
    right: 0rem;
  }
  .combo__slider-content {
    padding: 22px 0 22px 22px;
    text-align: left;
  }
  .combo__slider-item {
    max-width: 254px;
  }
  .combo__slider-title {
    font-size: 2rem;
  }
}
@media (max-width: 720px) {
  .combo__slider-box {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .combo__slider-item {
    display: flex;
    max-width: unset;
  }
  .combo__slider-img {
    height: 100%;
  }
  .combo__slider-buy {
    display: block;
    margin-bottom: 10px;
  }
  .combo__slider-more {
    display: block;
    text-align: center;
  }
  .combo__btn {
    top: 52%;
  }
}
@media (max-width: 620px) {
  .choose__slider__slider-box {
    justify-content: center;
    gap: 10px;
  }
  .choose__slider-item {
    width: 559px;
    margin: 0;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
  }
  .choose__slider-link {
    margin-right: 5px;
    max-width: 235px;
    height: 100%;
  }
  .choose__slider-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .choose__slider-content {
    padding: 2.2rem;
    text-align: left;
  }
  .choose__slider-price {
    display: block;
  }
  .choose__slider-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    color: #232C38;
    margin-bottom: 2.4rem;
  }
  .choose__slider-text {
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 6rem;
  }
  .choose__slider-buy {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
  }
  .choose__slider-more {
    display: block;
    text-align: center;
  }
  .choose__btn {
    position: absolute;
    top: 54%;
    right: -3rem;
  }
}
* {
  font-family: "Nunito";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title-two {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.4rem;
  text-align: center;
  color: #415167;
  text-transform: uppercase;
}

.title-three {
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #232C38;
}

.btn-right {
  width: 4.8rem;
  height: 4.8rem;
  background: #C7A17A;
  border: 3px solid #C7A17A;
  border-radius: 50%;
}
.btn-right:hover {
  background: #F9F5E8;
}
.btn-right:hover path {
  fill: #C7A17A;
}
.btn-right__right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-buy {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  color: #F9FBFF;
  background: #C7A17A;
  padding: 6px 24px;
  border-radius: 5rem;
}
.btn-buy--gift {
  padding: 8px 41px;
}/*# sourceMappingURL=style.css.map */