.choose {
    position: relative;   
    &::after {
        content: '';
        position: absolute;
        background: #415167;
        height: 100%;
        width: 32vw;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__content {     
        // height: 89.5rem;
        position: relative;
        padding-top: 5rem;
        text-align: center;
        
    }
    &__subtitle {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #415167
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 3rem;
        line-height: 3.4rem;
        color: #415167;
        margin-bottom: 4rem;
    }
}

@media (max-width: 1090px) {
    .choose {   
        &::after {
            left: -70px;
        }
    }    
}