.combo {
    height: 888px;
    position: relative;
    padding-top: 88px;
    padding-bottom: 128px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: inherit;
        background: #415167;
        z-index: -5;
    }    
    &__box {
        text-align: center;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #415167;
        margin-bottom: 6px; 
    }
    &__title {
        font-family: "Montserrat";
        font-weight: 900;
        font-size: 3rem;
        line-height: 3.4rem;
        color: #415167;
        margin-bottom: 64px; 
    }

}