
.excursion {
    &__box {
        margin-bottom: 12.8rem;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        color: #415167;
        margin-bottom: 0.85rem;
    }
    &__title {
        margin-bottom: 7.2rem;
    }
    &__link {
        justify-self: center;
        width: 22.6rem;
        padding-top: 1.7rem;
        text-align: center;
        text-decoration: none;
    }
    &__img {
        
        margin-bottom: 4rem;
    }
    &__title-item {
        margin-bottom: 1.2rem;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-align: center;
        color: #151D28;
    }
}
@media (max-width: 1090px) {
    .excursion {
        margin-bottom: 5rem;
        &__img {
            margin-bottom: 2rem;
        }
        &__list {
            grid-row-gap: 60px;
        }
        &__link {
            grid-column: span 6;
            
        }
    }
    
}