.footer { 
      
    &__box {
        background: #EDF0F5;
        padding: 20px 0;
        text-align: center;
    }
    &__text {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #415167;
    }
}