.choose {
    &__slider {
        max-width: 118.4rem;
        height: 54.4rem;
        background: transparent;
        &-box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 54.4rem;
        }
        &-item {
            width: 559px;
            display: flex;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: #ffffff;
            margin-bottom: 25px;
            margin-right: 25px;
        }
        &-link {
            text-decoration: none;    
        }
        &-img { 
            height: 100%;
            width: 100%;
         }
        &-content {
            padding: 4.2rem;
            text-align: left;
        }
        
        &-price {
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.4rem;
            color: #C7A17A;
            margin-bottom: 0.8rem;
        }
        &-title {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.8rem;
            color: #232C38;
            margin-bottom: 2.4rem;
        }
        &-text {
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #151D28;
            margin-bottom: 4rem;
        }
        &-buy {
            margin-right: 2rem;
        }
        &-more {
            text-transform: uppercase;
            text-decoration: none;
            color: #415167;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.2rem; 
        }
    } 
    &__btn {
        position: absolute;
        top: 52%;
        right: -3rem;
    }  
}

.combo {
    &__slider {
        max-width: 118.4rem;
        background: transparent;
        &-box {
            height: inherit;
            display: flex;
            justify-content: space-around;
        }
        &-item {
            box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
            height: inherit;
            background: #ffff;
        }
        &-img {
            height: auto;
            width: 100%;
        }
        &-content {
            padding: 42px 0 42px 42px;
            text-align: left;
            
        }
        &-price {
            padding-bottom: 10px;
        }
        &-discount {
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.4rem;
            color: #C7A17A;
            margin-right: 22px;
        }
        &-cost {
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-decoration-line: line-through;
            color: #415167;
        }
        &-title {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.8rem;
            color: #232C38;
            padding-bottom: 10px;
        }
        &-text {
            width: 278px;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #151D28;
            padding-bottom: 32px;
        }
        &-buy {
            margin-right: 54px;
        }
        &-more {
            text-transform: uppercase;
            text-decoration: none;
            color: #415167;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.2rem;    
        }
    }
    &__btn {
        position: absolute;
        top: 52%;
        right: -3rem;
    }
}