*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .grid-col-1 {
    grid-column: span 1;
  }
  
  .grid-col-2 {
    grid-column: span 2;
  }
  
  .grid-col-3 {
    grid-column: span 3;
  }
  
  .grid-col-4 {
    grid-column: span 4;
  }
  
  .grid-col-5 {
    grid-column: span 5;
  }
  
  .grid-col-6 {
    grid-column: span 6;
  }
  
  .grid-col-7 {
    grid-column: span 7;
  }
  
  .grid-col-8 {
    grid-column: span 8;
  }
  
  .grid-col-9 {
    grid-column: span 9;
  }
  
  .grid-col-10 {
    grid-column: span 10;
  }
  
  .grid-col-11 {
    grid-column: span 11;
  }
  
  .grid-col-12 {
    grid-column: span 12;
  }